@media screen and (max-width: 576px) {

    /* Header */
    .ham-menu {
        background-color: red;
    }

    body {
        background-color: red;
    }


    aside {
        display: none;
    }

    .layout {
        display: grid;
        grid-template-areas:
            "nav nav"
            "content content";
        background-color: #FDF0F0;
    }
}